.main-site-color {
    background-color: #F6DCAC;
}

.title {
    font-family: "PT Serif", serif;
    color: #01204E;  
}

.name-highlight {
    color: #028391;
}

.default-text {
    font-size: 1rem;
    font-family: "PT Serif", serif;
    color: #01204E;  
}

.about-me {
    background-color: white !important;
}
  
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #028391 !important;
    border-color: #028391 !important;
}

.line {
    background-color: #F6DCAC;
    height: 1px;
}

.contact {
    text-decoration: none;
    font-family: "PT Serif", serif;
    color:  #01204E;
    font-size: 0.9rem;
}

.copyright {
    font-family: "PT Serif", serif;
    font-size: 0.55rem;
    color: #01204E;    
}